---
layout: default
---

  <h2>Bienvenue sur le site de l'atelier</h2>
<p>
  Cet atelier intitulé "Outil de Conception participative de tableaux de bord d’apprentissage" est une étape dans la proposition d’un nouvel outil de conception participative de tableaux de bord, utilisable par la communauté, qui sera publié dans une revue internationale.
</p>
<p>
  Cet atelier est organisé dans le cadre de la <a href="https://blog.hepfr.ch/eiah2021/" target="_blank">10ème Conférence sur les Environnements Informatiques pour l’Apprentissage Humain</a>. Pour s'inscrire et y prendre part, merci de se rendre sur le site de la conférence en suivant le lien :
  <a href="https://blog.hepfr.ch/eiah2021/inscription/" target="_blank">https://blog.hepfr.ch/eiah2021/inscription/</a>
</p>
<br/><br/>
<hr>
<time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

{{ content }}

  
